body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('img/5_background/start_screen_background.jpg');
    background-repeat: no-repeat;
    font-family: 'Bangers', 'Patua One', Helvetica, sans-serif;
    margin: 0;
}

h1 {
    font-size: 64px;
    letter-spacing: 5px;
    text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);
}

canvas {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#start-screen {
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 480px;
    width: 780px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.ui-elements {
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 13px;
}

.ui-elements img {
    height: 30px;
    width: 30px;
}

.scale-on-hover {
    transition: transform 100ms ease-in-out;
}

.scale-on-hover:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}